<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">
    <% newListItems.forEach(function(item) { %>
      <form action="/delete" method="post">
        <div class="item">
          <!-- we will get on/off status from checkbox we can tap into which checkbox is on and we can remove it form Db
          by simply tapping into document ID, because each item has an unique ID, which will is done below -->
          <input type="checkbox" name="checkbox" value="<%=item._id%>" onChange="this.form.submit()">
           <p><%= item.name %></p>  <!--tapping into name of the db item document -->
        </div> 
        <!--We are creating this so that we can delete the list when user checked the box of that particular todo list -->
        <input type="hidden" name="listName" value="<%= listTitle %>"></input>
      </form>
    <% }) %>

      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value="<%= listTitle %>">+</button>
      </form>
  </div>

<%- include("footer") -%>
